<!DOCTYPE html>
<html>
<head>
  <title>关于这个博客和博主</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap Style -->
  <link rel="stylesheet" type="text/css" href="./plugins/bootstrap/css/bootstrap.min.css">
  <!-- HighLight Style -->
  <link rel="stylesheet" type="text/css" href="./plugins/highlight/styles/default.css">
  <!-- App Style -->
  <link rel="stylesheet" type="text/css" href="./css/style.css">
  <!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
  <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
  <!--[if lt IE 9]>
    <script src="./plugins/html5shiv/html5shiv.js"></script>
    <script src="./plugins/respond/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <div class="container">
    <!-- 导航开始 -->
    <header>
      <div class="row">
        <div class="nav">
          <div class="menu">
            <h1 class="logo"><a href="#" data-hover="LangHu's Blog">LangHu's Blog</a><div class="icon icon-out"><span></span><span></span></div></h1>
            <ul>
              <li><a href="index.html" data-hover="首页">首页</a></li>
              <li><a href="#" data-hover="分类">分类</a></li>
              <li><a href="#" data-hover="标签">标签</a></li>
              <li><a href="#" data-hover="时间轴">时间轴</a></li>
              <li><a class="active" href="about.html" data-hover="关于">关于</a></li>
              <li><a href="connect.html" data-hover="联系">联系</a></li>
              <li><a href="pay.html" data-hover="打赏">打赏</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <!-- 导航结束 -->
    <!-- 内容开始 -->
    <main>
      <!-- 文章列表开始 -->
      <div class="article">
        <div class="content">
        <h2>这是什么?</h2>

        <p> 这是一个小小的前端设计者的一个小博客</p>

        <p> 博主是个小菜鸡，并且要当一辈子的小菜鸡。所以博主在网上DOWN了很多代码。剽窃了很多好看的</p>

        <p> CSS样式和jQuery特效，所以，不喜勿喷。</p>

        <h2>这个博客将会支持哪些功能？</h2>

        <ul><li>多种风格的代码编辑器<ul><li>这里可以直接使用MarkDown语法写博客。</li><li>会有类似word文档的富文本编辑器，优秀的排版</li></ul></li><li>编辑和预览<code>同步滚动</code>，所见即所得</li><li><code>VIM快捷键</code>支持，方便vim党们快速的操作 （右上角设置）</li><li>强大的<code>自定义CSS</code>功能，方便定制自己的展示</li><li>预览区域<code>代码高亮</code></li></ul>

        <h2>感激</h2>

        <p>感谢以下的项目,排名不分先后</p>

        <ul><li>好吧，好像没有感谢的人，那就感谢那些被我剽窃了css和jquery特效的大佬吧。</li></ul>

        <h2>关于作者</h2>

        <p>
          <pre>
            <code>
              var oibit = {
                nickName  : &quot;5号病毒&quot;,
                site : &quot;http://R-5.cn&quot;
              }
            </code>
          </pre>
        </p>
        </div>
      </div>
      <!-- 文章列表结束 -->
      <!-- 侧边栏开始 -->
      <div class="sidebar">
        <!-- 排行开始  -->
        <div class="rank">
          <h2 class="title">浏览排行</h2>
          <ul>
            <li>
              <i><img src="./img/logo.png"></i>
              <p><a href="">制作QQ微信支付宝三合一</a></p>
              <span class="glyphicon glyphicon-time"> 时间</span>
            </li>
          </ul>
          <ul>
            <li>
              <i><img src="./img/logo.png"></i>
              <p><a href="">内容</a></p>
              <span class="glyphicon glyphicon-time"> 时间</span>
            </li>
          </ul>
          <ul>
            <li>
              <i><img src="./img/logo.png"></i>
              <p><a href="">内容</a></p>
              <span class="glyphicon glyphicon-time"> 时间</span>
            </li>
          </ul>
          <ul>
            <li>
              <i><img src="./img/logo.png"></i>
              <p><a href="">内容</a></p>
              <span class="glyphicon glyphicon-time"> 时间</span>
            </li>
          </ul>
          <ul>
            <li>
              <i><img src="./img/logo.png"></i>
              <p><a href="">内容</a></p>
              <span class="glyphicon glyphicon-time"> 时间</span>
            </li>
          </ul>
        </div>
        <!-- 排行结束 -->
        <!-- 分类开始 -->
        <div class="tags">
          <h2 class="title">标签列表</h2>
          <ul>
            <li><a href="">分类1</a></li>
            <li><a href="">分类2</a></li>
            <li><a href="">分类3</a></li>
            <li><a href="">分类4</a></li>
            <li><a href="">分类5</a></li>
            <li><a href="">分类6</a></li>
          </ul>
        </div>
        <!-- 分类结束 -->
        <!-- 捐赠开始 -->
        <div class="donation">
          <h2 class="title">赞助一下</h2>
          <ul>
            <li class="wx"><img src="./img/alipay.jpg"></li>
          </ul>
        </div>
        <!-- 捐赠结束 -->
      </div>
      <!-- 侧边栏结束 -->
    </main>
    <!-- 底部开始 -->
    <footer>
      <p>Powered By <a href="#" data-hover="LangHu">LangHu</a></p>
    </footer>
    <!-- 底部结束 -->
  </div>
  <script src="./js/jquery.min.js"></script>
  <script src="./plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="./plugins/scrollreveal/scrollreveal.js"></script>
  <script src="./plugins/share/js/social-share.min.js"></script>
  <script src="./plugins/highlight/highlight.pack.js"></script>
  <script src="./plugins/fullscreen/jquery.fullscreen.js"></script>
  <script src="./js/base.js"></script>

</body>
</html>